{{ define "result" }}

{{ range .FoundListings }}
<div class="foundcard">
    <small class="time">Aufgegeben am {{ .Listing.PostTime }}</small>
    <p class="from_text">Von Tutorium</p>
    <p class="from">{{ .Listing.From }}</p>
    <p class="to_text">Zu Tutorien</p>
    <p class="to">{{ .Listing.To }}</p>
    <pre class="message">{{ .Listing.Message }}</pre>
    {{ template "respond_box" . }}
</div>
<br><br>
{{ end }}

{{ template "respond_box_script" . }}

{{ end }}
