{{ define "result" }}

{{ range .FoundListings }}
<div class="foundcard">
    <small class="time">Aufgegeben am {{ .Listing.PostTime }}</small>
    <p class="num_text">Anzahl Suchende: <span class="num">{{ .Listing.NumPeople }}</span></p>
    <p class="tut_text">Tutorium <span class="tut">{{ .Listing.Tutorium }}</span></p>
    <pre class="message">{{ .Listing.Message }}</pre>
    {{ template "respond_box" . }}
</div>
<br><br>
{{ end }}

{{ template "respond_box_script" . }}

{{ end }}
