
/* Messages */

.message-info {
    display: block;
    background: #75AF95;
    color: white;
    border: 2px solid #277552;
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.message-warning {
    display: block;
    background: #FED9A9;
    color: black;
    border: 2px solid #A97838;
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.message-danger {
    display: block;
    background: #A95738;
    color: white;
    border: 2px solid #FEC0A9;
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

/* Button and Input Stuff */

.long {
    min-width: 30em !important;
}

.button {
    display: inline-block;
    padding: 4px;
    margin: 0.1em;
    min-width: 10em;
    font-size: 12pt;
    border-radius: 0.25em;
    cursor: pointer;
    background: #708EA3;
    border: 3px solid #708EA3;
    color: white;
}

.button:hover {
    border-color: #486D87;
}

.button.active {
    background: #486D87;
    border: 3px solid #486D87;
    color: white;
}

.button.active:hover {
    border-color: #708EA3;
}

.button-danger {
    background: #A95738;
    border: 3px solid #A95738;
}

.button-danger:hover {
    border-color: #7F3215;
}

.link {
    display: inline;
    box-sizing: content-box;
    border: none;
    background: transparent;
    font-size: 1em;
    color: #486D87;
}

.link > span {
    text-decoration: underline;
    white-space: pre-wrap;
}

select {
    border: none;
    -webkit-appearance: none;
       -moz-appearance: none;
        appearance: none;
    outline: none;
    display: block;
    color: #708EA3;
    padding: 10px;
    border: 1px solid black;
    border-radius: 0.25em;
    text-align: center;
}

input[type="button"],
input[type="submit"] {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

input[type="number"] {
    max-width: 3em;
}

input[type="checkbox"] {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    display: inline-block;
    padding: 0px;
    margin: 0px;
    transform: translateY(0.5em);
    width: 2em;
    height: 2em;
    border: 2px solid #708EA3;
    border-radius: 0.5em;
    background: white;
    cursor: pointer;
}

input[type="checkbox"]:hover {
    border-color: #29506D;
}

input[type="checkbox"]:checked {
    background: #708EA3;
}

input[type="checkbox"]:after {
    font-size: 14px;
    position: absolute;
    top: -0.1em;
    left: 0.1em;
    font-size: 2em;
    line-height: 1;
    color: white;
}

input[type="checkbox"]:checked:after {
    content: '\2713\0020';
}

.textinput {
    color: #333;
    padding: 10px;
    border: 1px solid black;
    border-radius: 0.25em;
}

.textinput-wide {
    color: #333;
    padding: 10px;
    border: 1px solid black;
    border-radius: 0.25em;
    width: calc(100% - 20px);
}

textarea, input, select {
    background: #EFEFEF;
    font-size: 11pt;
}

textarea::placeholder, input::placeholder {
    color: #708EA3;
}

textarea:focus, input:focus {
    outline: none;
    background: white;
}

/* if-script elements must be places after a noscript tag */
.if-script {
    visibility: hidden;
    height: 0;
    margin: 0;
    padding: 0;
}

noscript + .if-script {
    visibility: visible !important;
    height: auto;
    margin: auto;
    padding: auto;
}
