
/*
 Color Palette:
 http://paletton.com/#uid=7320u0klllgaJvSg3qwqCfXvYaC
 
 #75AF95 #499271 #277552 #0F5837 #003A20
 #708EA3 #486D87 #29506D #123751 #032136
 #FED9A9 #D3A569 #A97838 #7F5115 #553000
 #FEC0A9 #D38669 #A95738 #7F3215 #551700
 */

.logo {
    grid-area: logo;
    align-self: center;
    text-align: center;
    background-color: #708EA3;
    color: white;
    border-radius: 10px;
}

.header {
    grid-area: header;
    align-self: center;
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-areas:
    ". title . ";
}

.title {
    grid-area: title;
    word-break: break-all;
}

.ok-text {
    color: #75AF95;
}

.sidebar {
    grid-area: sidebar;
    align-self: start;

    display: grid;
    grid-auto-flow: row;
    padding-top: 20px;
}

.sidebar-element {
    align-self: center;
}

.sidebar-title {
    align-self: center;
}

.main {
    grid-area: main;
    align-self: start;
    padding: 10px;
}

a {
    color: #708EA3;
    text-decoration: none;
}

hr {
    width: 95%;
    self-align: center;
    border: none;
    border-bottom: 2px dashed #EFEFEF;
    margin: 5px 0px 5px 0px;
}

html, body {
    display: block;
    margin: 0;
    padding: 0;
}

.container {
    display: block;
    margin: 0;
    padding: 5px;
    width: calc(100vw - 10px);
}

.container > * {
    max-width: 100%;
}

@media screen and (max-width: 1024px) {
    .container {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto;
        grid-template-areas:
            "logo"
            "header"
            "main"
            "sidebar"
            "footer";
        font-family: sans-serif;
        margin: auto;
        width: calc(100% - 20px);
    }

    .sidebar-element {
        text-align: center;
    }

    .logo {

    }
}

@media screen and (min-width: 1024px) {
    .container {
        display: grid;
        grid-template-columns: 220px 10px auto;
        grid-template-rows: 100px auto;
        grid-template-areas:
            "logo         . header"
            "sidebar      . main  "
            "footer  footer footer";
        font-family: sans-serif;
        max-width: 1000px;
        margin: auto;
    }

    .sidebar {
        text-align: right;
    }

    .sidebar-element {
        margin-top: 10px;
    }
    
    hr + .sidebar-element {
        margin-top: 0px;
    }
}

html {
    overflow-y: scroll;
    text-align: justify;
    -webkit-font-smoothing: antialiased;
       -moz-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}

*[hidden] {
    display: none !important;
    visibility: hidden !important;
    opacity: 0 !important;
    height: 0 !important;
    width: 0 !important;
}

blockquote {
    quotes: "“" "”" "‘" "’";
}

blockquote:before {
    content: open-quote;
    color: #A97838;
    font: 1.5em/150% Georgia, serif;
}

blockquote:after {
    content: close-quote;
    color: #A97838;
    font: 1.5em/150% Georgia, serif;
}
