{{ define "content" }}
<link rel="stylesheet" href="static/found_style.css">

<p class="message-warning">
    <strong>Bitte lösche nicht einen Eintrag, der nicht von dir ist.</strong>
    <br>
    Wir haben Backups, aber das wäre trotzdem einfach blöd.
</p>

<form method="post" action="/dodelete">
    <div class="deletecard">
        <p class="description">
            <strong>Abgabepartner gefunden oder Tutorium getauscht?</strong>
            Dann lösche hier deinen Eintrag.
        </p>
        <input class="textinput" type="email" name="email" placeholder="Max.Mustermann@rwth-aachen.de">
        <select class="reason" name="type">
            <option value="partner">Abgabepartner gefunden</option>
            <option value="tutorium">Tutorium getauscht</option>
        </select>
        {{ template "dropdown" . }}
        <input class="button" type="submit" value="Löschen!">
    </div>
</form>
{{ template "scripts" . }}
{{ end }}
