{{ define "disclaimer" }}
<div>
    <h3>Datenschutzhinweise</h3>
    <p>
    Wenn du deine Daten hier absendest, wird dein Eintrag auf dieser Seite angezeigt. <strong>Deine Email-Adresse wird nicht angezeigt</strong>.
    Wenn aber jemand auf deinen Eintrag antwortet, schicken wir dir eine Email mit der jeweiligen Antwort.
    (Hierfür muss deine Email und deine Nachricht gespeichert werden!).
    Du kannst deinen Eintrag jederzeit im Menüpunkt <a href="/delete">Anzeige löschen</a> wieder löschen.
    Dann wird auch deine Email wieder gelöscht, falls dies dein einziger Eintrag war.
    </p>
    <p>
    Wir schicken dir eine Bestätigungs-Email! Bitte schau auch in deinem Spam-Postfach nach.
    </p>
    <p>
    Noch zwei <strong>Hinweise</strong>:
    <ul>
      <li>Sobald du einen Abgabepartner gefunden hast, lösche bitte deinen Eintrag.</li>
      <li>Zum Semesterende ({{.NextDeleteDate}}) wird deine Anzeige automatisch gelöscht.</li>
    </ul>
    </p>
    <span>
      <label for="agree"><strong>Ich stimme zu</strong></label>
      <input type="checkbox" name="agree">
    </span>
</div>
{{ end }}
