{{ define "content" }}
<link rel="stylesheet" href="static/found_style.css">

<h3>{{ .SubjectText }}</h3>

<div class="message-info" {{ .OtherTutsHidden }}>
    <span>
        <form method="GET" action="dosearch">
            <label for="tutorium">Filtern nach Tutorium</label>
            <input class="textinput" name="tutorium" type="number" min="0" value="{{ .Tutorium }}">
            <input name="subject" value="{{ .Subject }}" hidden>
            <input type="submit" class="button" value="Filter setzen">
        </form>
    </span>
    {{ range .OtherTuts }}
    <a class="card_link" href="/dosearch?subject={{ .Subject }}&tutorium={{ .ID }}">{{ .Name }}</a> 
    {{ end }}
</div>

{{ template "result" . }}

<h3>Füge deine eigene Anzeige hinzu</h3>

<form class="newcard" method="post" action="/addlisting">
    <p class="content">
    <input class="textinput" type="email" name="email" placeholder="Max.Mustermann@rwth-aachen.de"/>
    <span class="num">
        <label for="num">Anzahl Suchende</label>
        <input class="textinput" type="number" name="num_students" min="1" max="10" value="1">
    </span>
    <span class="tutorium">
        <label for="tutorium">Tutorium</label>
        <input class="textinput" type="number" name="tutorium" min="0" value="{{ .Tutorium }}"/>
    </span>
    <textarea class="message biginput textinput-wide" placeholder="Persönliche Nachricht" name="message" rows=4></textarea>
    </p>
    <p class="disclaimer">
    {{ template "disclaimer" . }}
    </p>
    <input class="button" type="submit" value="Absenden">
    <input value="{{ .Subject }}" name="subject" hidden>
</form>

{{ end }}
