{{ define "content" }}
<p>
    Version {{ .VersionNumber }}
</p>
<p>
    <span>
        <strong>apb</strong> ist freie Software und steht unter MIT-Lizenz:
        <a href="https://git.rwth-aachen.de/h/apb">GitLab Repository</a>
    </span>
    <br>
    <span>
        Mail: <a href="mailto:mail@abgabepartner.de">mail@abgabepartner.de</a>
    </span>
</p>
{{ end }}
