{{ define "respond_box" }}
<div class="reply_area">
    <!-- definitions of element content by state -->
    <style>
    .reply_button .content:after { content: "Antworten"; }
    .reply_button.active .content:after { content: "Abbrechen"; }
    </style>
    
    <!-- Button to toggle the reply form -->
    <a class="button reply_button" onclick="toggleReplyBox(this)"><span class="content"></span></a>
    
    <!-- Reply form -->
    <form class="reply_box" method="POST" action="/respond">
    <textarea class="textinput reply_text biginput" placeholder="Deine Antwort" name="message" rows=4></textarea>
    <input class="textinput reply_email" type="email" placeholder="Deine Email (zum Antworten)*" name="email"></input>
    <input value="{{ .EmailID }}" name="email_id" hidden>
    <input class="button reply_submit" type="submit" value="Senden">

    <div class="reply_info">
        <span>*Diese Email speichern wir nicht. Sie wird lediglich zum Aufgeber der Nachricht weitergeleitet.</span>
    </div>
    </form>
</div>
{{ end }}
{{ define "respond_box_script" }}
<script>
    /*
     * Node List Mapping
     * this function takes 2 parameters:
     * - a node list object
     * - a function that will be invoked for each element of the node list
     */
    const nlmap = Function.prototype.call.bind(Array.prototype.map);

    /*
     * DOM Classname Mapping
     * This function takes 3 parameters:
     * - a DOM object
     * - a CSS class name
     * - a function to be invoked upon every element with that class inside the given DOM element
     */
    // TODO improve this helper function by support of dis-/conjunctions of classes
    const mapclass = (x, name, f) => nlmap(x.getElementsByClassName(name), f);

    /*
     * DOM Element Toggle
     * this function takes 1 parameter:
     * - DOM object whose active state is to be toggled
     */
    const toggle = x => {
    if (! x.classList.contains("active") && ! x.classList.contains("inactive")) {
        // initial state
        x.classList.add("active");
    } else {
        // toggle state
        x.classList.toggle("active");
        x.classList.toggle("inactive");
    }
    
    }
  
    /*
     * This is a HTML-button invocated function
     * On invocation the button should pass "this" as parameter
     * The buttons and reply_box state are then to be toggled
     */
    const toggleReplyBox = function (invoker) {
    toggle(invoker);
    mapclass(invoker.parentElement, "reply_box", toggle);
    }
</script>
{{ end }}
