{{ define "content" }}

<p>
    Auf dieser Seite kannst du nach Abgabepartnern an der RWTH Aachen suchen, oder dich selbst finden lassen.
</p>

<form class="search" method="get" action="/dosearch">
    {{ template "dropdown" . }}
    <input class="button" type="submit" value="Suchen!">
</form>

<p>
    Ist dein Modul nicht dabei?
    <a href="https://git.rwth-aachen.de/h/apb/">Erstelle bitte ein Issue.</a>
    <br>
    Gibt es ein Modul gar zwei mal?? Nehme erst mal das erste, und erstelle bitte auch ein Issue.
</p>

{{ template "scripts" . }}
{{ end }}
