{{ define "dropdown" }}
<div class="subject">
    <noscript>
        <div class="message-warning">
            <strong>Du hast JavaScript deaktiviert, deshalb folgt nur eine Liste akzeptierter Module.</strong>
            Es ist sehr empfehlenswert JavaScript auf dieser Webseite zuzulassen, um den vollen Funktionsumfang nutzen zu können.
            Du kannst dich gerne im GitLab Repository davon überzeugen, dass wir hier keinen Schindluder treiben.
        </div>
        <label for="subject">Bitte wähle dein Modul aus dem Autocomplete-Menü aus:</label><br>
        <input class="textinput-wide" type="text" id="subject" name="subject" list="subjects" placeholder="RWTH Modul">
        <datalist id="subjects">
            {{ range .Subjects }}
                <option value="{{ . }}">
            {{ end }}
        </datalist>
        <!--ul>
            {{ range .Subjects }}<li>
                <button type="submit"
                        class="link"
                        id="subject"
                        name="subject"
                        value="{{ . }}">
                    <span>{{ . }}</span>
                </button>
            </li>{{ end }}
        </ul-->
    </noscript>
    <div class="if-script">
        <label for="subject">Bitte wähle dein Modul aus dem Autocomplete-Menü aus:</label><br>
        <input class="textinput-wide" name="subject" id="subject" placeholder="RWTH Modul">
    </div>
</div>
{{ end }}
{{ define "scripts" }}
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
$(function() {
    $("#subject").autocomplete({
        source: "fuzzysearch",
    });
});
</script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{{ end }}
