{{define "template"}}<!DOCTYPE html>
<html>
    <head>
    <title>Abgabepartnerbörse</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="static/interaction.css">
    <link rel="shortcut icon" type="image/png" href="static/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
    <div class="container">
        <div onclick="document.location = '/';" class="logo">
            <h3>abgabepartner.de</h3>
            <small>Finde die abgabepartnernde Person deiner Träume</small>
        </div>
        <div class="header">
        <div class="title">
            <h1>{{ .Title }}</h1>
        </div>
        </div>
        <div class="sidebar">
        <b class="sidebar-title">Inhalte auf dieser Seite</b>
        <span class="sidebar-element">
            <a href="/">Start</a>
        </span>
        <hr>
        <span class="sidebar-element">
            <a href="/search">Abgabepartner suchen</a>
        </span>
        <span class="sidebar-element">
            <a href="/tutswap">Tutorium tauschen</a>
        </span>
        <span class="sidebar-element">
            <a href="/delete">Anzeige löschen</a>
        </span>
        <hr>
        <span class="sidebar-element">
            <a href="/data">Datenschutzerklärung</a>
        </span>
        <span class="sidebar-element">
            <a href="/info">Informationen</a>
        </span>
        </div>
        <div class="main">
        {{ template "content" . }}
        </div>
    </div>
    </body>
</html>
{{end}}
