{{ define "content" }}
<link rel="stylesheet" href="static/found_style.css">

<h3>{{ .Subject }}</h3>

{{ template "result" . }}

<h3>Füge deine eigene Anzeige hinzu</h3>

<form class="newcard" method="post" action="/addswap">
    <p class="content">
    <input class="textinput" type="email" name="email" placeholder="Max.Mustermann@rwth-aachen.de"/>
    
    <input class="from textinput" name="from" placeholder="Von Tutorium">
    <input class="to textinput" name="to" placeholder="Zu Tutorien">

    <textarea class="message biginput textinput-wide" placeholder="Persönliche Nachricht" name="message" rows=4></textarea>
    </p>
    <p class="disclaimer">
    {{ template "disclaimer" . }}
    </p>
    <input class="button" type="submit" value="Absenden">
    <input value="{{ .Subject }}" name="subject" hidden>
</form>

{{ end }}
