{{ define "content" }}

<p>
    Du hast die <strong>Abgabepartnerbörse</strong> für die RWTH Aachen gefunden.
</p>
<p>
    Auf dieser Website kannst du <a href="/search">Abgabepartner finden</a>
    und <a href="/tutswap">Tutorien tauschen</a>.
</p>
<p>
    Möchtest du etwas ändern, ein Feature vorschlagen oder einen Bug melden?
    Schau dir doch das <a href="https://git.rwth-aachen.de/h/apb">GitLab Repository</a> an.
    Hier findest du den Quellcode des Projekts und kannst uns mögliche Probleme via <a href="https://git.rwth-aachen.de/h/apb/issues">Issues</a> gerne mitteilen.
    Wir freuen uns auf die Zusammenarbeit!
</p>
<p>
    Viel Erfolg :)
</p>

<hr/>

<h3>News</h3>
<p>
    Wir möchten gerne irgendwann abgabepartner.de völlig <q>from scratch</q> neu schreiben.
    Wir wollen nämlich ein paar Algorithmen implementieren, die Leute automatisch zusammenbringen können.
    Die Art und Weise, in der der jetzige Server Daten speichert und verwaltet, ist zwar einfach, aber für diesen Zweck völlig ungeeignet. So würden wir gerne die
    Usability der Seite erhöhen und noch einige weitere Dinge realisieren, die <a href="https://git.rwth-aachen.de/h/apb/issues">in den Issues stehen.</a>
    Falls du gerne mitmachen würdest, dann <a href="mailto:mail@abgabepartner.de">schreibe uns doch eine Mail!</a>
</p>

{{ end }}
